@import "partials/header.scss";
@import "partials/main.scss";

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: blue;
};

.wrapper_90 {
    width: 90%;
    margin: 0px auto;
}

